# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# generated
.DS_Store

# environment
.env
.env.production
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# decap local backend working files
/.decap/
